@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: poppins, sans-serif;
    background: rgb(255, 255, 255);
}

section {
    display: flex;
    flex-direction: column;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title-box {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(2, 204, 137);
    font-weight: 600;
    font-size: 30px;
}

.title-box h1 {
    margin-left: 5px;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 3rem;
}

.central-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3rem;
    padding: 1rem;
}

.section-1 {
    background: url(./images/image-1.jpg);
    margin-right: 0.5rem;
    padding: 4.3rem;
    background-repeat: no-repeat;
    border-radius: 2px;
    flex: 1;
}

.section-2 {
    background: rgb(247, 243, 243);
    margin-left: 0.5rem;
    border-radius: 2px;
    flex: 1;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
}

.section-1 h2 {
    font-size: 32px;
    margin-bottom: 1.5rem;
}

.section-1 p {
    margin-bottom: 1.5rem;
    color: #fff;
}

.section-1 button {
    width: 250px;
}

.form-box {
    flex-direction: column;
    margin: 1rem;
    font-weight: 600;
}

label {
    margin-top: auto;
    margin-bottom: auto;
    height: auto;

}

input {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-weight: 600;
}

select {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-weight: 600;
    color: rgb(109, 108, 108);
}

textarea {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    resize: none;

}

button {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: rgb(2, 204, 137);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1138px) {
    .title-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .central-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-1 {
        margin-bottom: 1rem;
        margin-right: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section-2 {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
}