@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: poppins, sans-serif;
    background: rgb(237, 238, 237);
}

section {
    display: flex;
    flex-direction: column;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title-box {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(2, 204, 137);
    font-weight: 600;
    font-size: 30px;
}

.title-box h1 {
    margin-left: 5px;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 87%;
    background-image: url(./images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.central-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3rem;
    padding: 1rem;
    background-color: rgb(7, 250, 169);
    border-radius: 3px;
    width: 90%;
}

.section-1 {
    background: url(./images/moving-company.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 0.5rem;
    padding: 4.3rem;
    background-repeat: no-repeat;
    border-radius: 2px;
    flex: 1.5;

}

.section-2 {
    background: rgb(247, 243, 243);
    margin-left: 0.5rem;
    border-radius: 1rem;
    flex: 1;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.section-1 h2 {
    font-size: 40px;
    margin-bottom: 1.5rem;
    color: rgb(2, 204, 137);
}

.section-1 p {
    margin-bottom: 2.5rem;
    color: #fff;
    font-size: 20px;
}

.section-1 button {
    width: 250px;
    font-size: 20px;
}

.form-box {
    width: 90%;
    flex-direction: column;
    margin: 5%;
    font-weight: 600;
    color: rgb(71, 71, 71);
    font-size: 15px;
}

.form-box h2 {
    text-align: center;
}

label {
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}

input {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-weight: 600;
    color: rgb(67, 68, 68);
    border: 2px solid rgb(215, 219, 213);
    border-radius: 5px;
    outline: none;
}

input:hover {
    border: 2px solid rgb(2, 204, 137);
}

select {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-weight: 600;
    color: rgb(109, 108, 108);
    border: 2px solid rgb(215, 219, 213);
    border-radius: 5px;
    outline: none;
}

select:hover {
    border: 2px solid rgb(2, 204, 137);
}

option {
    font-weight: 600;
    color: rgb(155, 155, 155);
    outline: none;
    background-color: transparent;
}

textarea {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    resize: none;
    border: 2px solid rgb(215, 219, 213);
    border-radius: 5px;
    outline: none;
    color: rgb(67, 68, 68);
    font-family: Poppins;
    font-weight: 500;
}

textarea:hover {
    border: 2px solid rgb(2, 204, 137);
    ;
}

button {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: rgb(2, 204, 137);
    border: 2px solid rgb(2, 204, 137);
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    outline: none;
    box-shadow: 2px 2px 3px 1px rgba(54, 37, 37, 0.2);
    cursor: pointer;
}


button a {
    text-decoration: none;
    color: #fff;
}

#submit:hover {
    border-radius: 4px;
    background-color: rgb(16, 172, 120);
    border: 2px solid rgb(2, 204, 137);
    color: #fff;
}

#call-us {
    border-radius: 4px;
}

#call-us:hover {
    border-radius: 4px;
    background-color: rgb(16, 172, 120);
    border: 2px solid rgb(2, 204, 137);
    color: #fff;
}

.quote-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 13%;
    float: right;
}

.quote-title {
    flex: 1;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    width: 100%;
}

.quote-button {
    flex: 1;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.quote-title h2 {
    font-size: 32px;
    text-align: center;
    color: rgb(71, 71, 71);
}

.quote-button button {
    margin: auto;
    background: #fff;
    color: rgb(2, 204, 137);
    border: 3px solid rgb(2, 204, 137);
    width: 30%;
    font-size: 20px;
    box-shadow: 2px 2px 3px 1px rgba(54, 37, 37, 0.2);
}

.sendQoute:hover {
    background: rgb(2, 204, 137);
    color: #fff;
    border: 3px solid rgb(2, 204, 137);
}

.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    width: 100%;
}

.quote-title-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-details {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-details img {
    padding: 1rem;
    margin-left: 1rem;
    align-items: center;
}

.service-header-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    margin-left: 1rem;
    padding: 1rem;
    height: 100%;
}

.quote-title-box h2 {
    color: rgb(64, 65, 64);
    font-size: 30px;
    margin-top: 1rem;
}

.service-header-box p {
    color: rgb(107, 109, 107);
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
}

.divider {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(107, 109, 107);
    border: 2px solid rgb(107, 109, 107);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.footer-details p {
    margin-left: 1rem;
    margin-left: 1rem;
    margin: 1rem;
    color: rgb(133, 134, 133);
}

.footer-details a {
    text-decoration: none;
}

.footer-details p:hover {
    color: rgb(2, 204, 137);
}
.error-message {
    color: rgb(252, 103, 103);
}

@media only screen and (max-width: 1138px) {
    .title-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .container-box {
        height: 100%;
        flex: 1;
    }

    .central-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section-2 {
        width: 100%;
        margin-top: 1rem;

        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .quote-div {
        flex: 1;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .quote-div div {
        width: 100%;
        font-size: 15px;
    }

    .quote-title h2 {
        margin: 0.5rem;
    }

    .section-1 h2 {
        font-size: 30px;
    }

    .section-1 p {
        font-size: 15px;
    }

    .section-1 button {
        font-size: 15px;
    }

    .footer-details {
        flex-direction: column;
    }
}